<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<nav class="container">
    <head>
        <title>Coronavirus Tracker Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 style="color:white">
            🦠 Coronavirus Tracker Application 🦠
        </h1>
        <p style="color:white">This application lists the current number of cases reported across the globe</p>
    </nav>

    <hr>

    <!--Create a big-sized header-->
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr classs="my-4">
        <p>
            <span>New cases reported since previous day: </span>
            <span th:text="${totalReportedCases}"></span>
        </p>

    </div>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
    <p>Re-created from Javabrains tutorial <a href="https://github.com/ngzhaoming" class="badge badge-dark">source-code</a></p>
    </div>


    </body>

</html>